
#celebrities-container{
    display: flex;
    flex-wrap: wrap;
    width: 99vw;
}

#celebrities-container img{
    max-height: 200px;
    max-width: auto;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}


#live-events-container{
    white-space: pre;
}